* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* animation: slideRight 1.5s ease; */
}

html {
  scroll-behavior: smooth;
  /* background-image: linear-gradient(rgb(0, 55, 54), rgb(0, 48, 38)); */
}

:root {
  --LOGO-WIDTH: 500px;

  --BGCOLOR: rgb(0, 19, 20);
  --FONT-COLOR: #ffecca;
  --SPAN-FONT-COLOR: rgb(255, 115, 0);
  --IMAGE-BOX-SHADOW: rgba(255, 115, 0, 0.267);
  --INFO-COLOR: rgb(197, 197, 197);
  --header-bg: var(--BGCOLOR);
  --home-img-bg: rgba(0, 54, 75, 0.185);
  --header-font-color: #ffecca;
  --service-card-bg-img: linear-gradient(
    to bottom,
    rgba(253, 207, 155, 0.267),
    rgb(49, 49, 49)
  );
  --service-card-bg: transparent;

  --FS: clamp(1rem, 2vh, 1.2rem);
  --FS-RESPONSIVE-MAX-1REM: clamp(1rem, 3.5vw, 1.5rem);
  --FF: Arial;

  --PADDING: 1rem;
  --ABOUT-IMG-BORDER-RADIUS: 100px;
  --ABOUT-IMG-BORDER-COLOR: rgba(216, 97, 0, 0.342);
  --NAVBAR-UL-MIN-WIDTH: 200px;
  --NAVBAR-UL-MAX-WIDTH: 600px;

  --H2-FS: clamp(1.5rem, 4vw, 2rem);
  --INPUTS-FONT-COLOR: rgb(191, 191, 191);

  --BUTTON-BORDER-COLOR: #33d8a7;
  --BUTTON-HOVER-COLOR: hsla(180, 100%, 11%, 0.548);
  --BUTTON-ACTIVE-COLOR: hsla(180, 100%, 11%, 0.301);
  --IMAGE-BOX-SHADOW-HOVER: rgba(255, 115, 0, 0.623);
  --g: rgb(196, 88, 0);
}

/* utility */
:where(.display-flex-center) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nowrap {
  white-space: nowrap;
}
/* .slide-right{
  animation: slidRight 1.5s ease ;
} */
/* utility ends */

/* selection */
::selection {
  background-color: #005d69;
}

/* paragraph reset */
p,
li {
  line-height: 25px;
  font-size: var(--FS);
}

img::selection {
  background-color: rgba(255, 255, 255, 0.219);
}

body {
  background-color: var(--BGCOLOR);
  color: var(--FONT-COLOR);
  font-size: var(--FS);
  font-family: var(--FF);
}

/* computer nav */
header {
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: var(--header-bg);
  width: 100%;
}
.header-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
}
/* styles for logo */
.logo {
  text-decoration: none;
  color: var(--FONT-COLOR);
  /* background-color: red; */
  /* width: var(--LOGO-WIDTH); */
}

.logo h1 {
  font-family: Tahoma, sans-serif;
  letter-spacing: 0.1rem;
  font-size: clamp(1.1rem, 4vw, 2.5rem);
  color: var(--header-font-color);
}
/* styles for logo ends*/

span {
  color: var(--SPAN-FONT-COLOR);
}

/* menu button */
.menu-button {
  position: relative;
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  order: 1;
  display: none;
  right: -5px;
}
/* menu buttom after and before*/
.menuicon::before,
.menuicon::after {
  content: "";
}
/* menu buttom before */
.menuicon::before {
  transform: translate(-20px, -12px);
}
.menuicon::after {
  transform: translate(-20px, 12px);
}
.menuicon {
  transform: translate(0px, 0px);
}
.menuicon,
.menuicon::before,
.menuicon::after {
  width: 40px;
  height: 5px;
  border: none;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  border: none;
  transition: 0.5s;
  position: absolute;
  z-index: 5;
}
:is(
    .menu-button:hover,
    .menu-button:focus-within,
    header:hover,
    header:focus-within
  )
  .menuicon {
  background-color: transparent;
}
/* rotate 'before' when the menu button is hovered */
:is(
    .menu-button:hover,
    .menu-button:focus-within,
    header:hover,
    header:focus-within
  )
  .menuicon::before {
  transform: translateX(-20px) rotate(-310deg);
}
/* rotate 'after' when the menu button is hovered */
:is(
    .menu-button:hover,
    .menu-button:focus-within,
    header:hover,
    header:focus-within
  )
  .menuicon::after {
  transform: translateX(-20px) rotate(310deg);
}

.navbar {
  /* display: none; */
  /* background-color: red; */
  position: relative;
  justify-content: space-between;
  transition: all 0.5s;
  transform-origin: top right;
  animation: showNavbar 0.5s linear;
}

:where(.navbar ul) {
  list-style-type: none;
  display: flex;
  width: clamp(var(--NAVBAR-UL-MIN-WIDTH), 50vw, var(--NAVBAR-UL-MAX-WIDTH));
  justify-content: space-between;
  /* background-color: #fff; */
}

.navbar ul li,
.about-section2 ul li {
  display: inline-block;
}

ul li a:any-link {
  color: var(--header-font-color);
  text-decoration: none;
  text-underline-offset: 5px;
  padding: 0 0.2rem;
  font-size: clamp(0.8rem, 2vw, var(--FS));
  transition: all 0.5s;
}

ul :is(li a:hover) {
  color: var(--SPAN-FONT-COLOR);
}
ul li:target {
  border: 5px solid red;
}

.switch {
  animation: slideRight 0.3s ease;
}

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* styles for showing icon on mobile */

.menu-button {
  position: relative;
}

/* home section */
.about,
.service,
.portfolio,
.contact {
  /* height: 100vh; */
  /* background-color: hsl(180, 100%, 2%); */
  /* margin-bottom: 1rem; */
  width: 100%;
  scroll-margin-top: 5rem;
}

:where(.home, .about) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--PADDING);
  column-gap: 2rem;
}
.header-cont,
.home {
  max-width: 1500px;
  margin: auto;
}
.home {
  /* styles for the home  container */
  padding: 2rem;
  justify-content: space-around;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
  gap: 2rem;
  /* min-height: 60vh; */
}

/* :where(.section1 .name) {
  font-size: clamp(2.5rem, 7vw, 3.5rem);
} */

.section1 .name,
.section1 .name + h3 {
  margin-bottom: 1rem;
}
.hello {
  font-size: 100px;
  font-weight: 900;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 3px #555;
  position: relative;
}
/* .self-into {
  font-size: clamp(1rem, 3.5vw, 2rem);
} */
.full-start-animate {
  color: transparent;
  font-weight: 900;
  /* -webkit-text-stroke: .5px var(--SPAN-FONT-COLOR); */
  position: relative;
}
.full-start-animate::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  overflow: hidden;
  color: var(--SPAN-FONT-COLOR);
  animation: fillGradually 10s infinite;
  animation-timing-function: ease-in-out; /* steps(20) */
  border-right: 3px solid rgb(0, 182, 167);
}
@keyframes fillGradually {
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

/* .text-zoom {
  font-size: clamp(0.9rem, 2vw, 1rem);
} */
.intro-text {
  color: var(--INFO-COLOR);
  line-height: 25px;
}
:where(.writeup, .about-section2) {
  min-width: 300px;
  width: 500px;
}

.section1 div {
  margin-top: 1rem;
}

/* this style will reflect on the read more button, coz readmore button have hire-btn class */
.hire-btn {
  padding: 0.5rem 2rem;
  /* margin: 0 auto; */
  white-space: nowrap;
  background-color: transparent;
  color: white;
  font-weight: 300;
  border: 2px solid var(--BUTTON-BORDER-COLOR);
  /* font-size: var(--FS-RESPONSIVE-MAX-1REM); */
  transition: all 0.3s linear;
  border-radius: 12px;
  background-color: var(--header-bg);
}

.hire-btn:hover {
  background-color: var(--BUTTON-HOVER-COLOR);
  transform: translateY(-5px);
}
.hire-btn:active {
  background-color: var(--BUTTON-ACTIVE-COLOR);
  transform: translateY(-5px);
}

.section2 figure {
  background-color: var(--home-img-bg);
  display: flex;
  border-radius: 50%;
  width: min(300px, 35vw);
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 5px 10px var(--IMAGE-BOX-SHADOW);
  transition: transform 0.5s linear, box-shadow 0.5s linear;

  animation: bounce 10s linear infinite;
  z-index: 0;
}

.section2 figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

figure:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px var(--IMAGE-BOX-SHADOW-HOVER);
}

.about {
  /* justify-content: space-around; */
  padding: var(--PADDING);
  margin-top: 5px;
}

/* about section \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.about .about-section1 {
  width: 400px;
  min-width: 300px;
  height: 500px;
  background-color: #005d697a;
  position: relative;
}
.about .about-section2 {
  width: 500px;
  /* background-color: rgb(163, 163, 163); */
  border: 1.5px solid rgba(0, 0, 0, 0.425);
  border-radius: 1rem;
  padding: 1rem;
}
.about-section1,
.about-section1 div,
.about-section1 img {
  border: 1px solid var(--ABOUT-IMG-BORDER-COLOR);
  border-top-right-radius: var(--ABOUT-IMG-BORDER-RADIUS);
  border-bottom-left-radius: var(--ABOUT-IMG-BORDER-RADIUS);
}
.about-section1 div {
  width: 100%;
  height: 100%;
  background: radial-gradient(#2e4e5e00, rgb(0, 0, 0));
  position: absolute;
  top: 0;
}

.about-section1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  /* object-position: top; */
  /* z-index: 100; */
}
.about-section2,
.about-section1 {
  width: 100%;
}

.about-section2 h2,
.service h2,
.projects h2,
.contact h2 {
  color: var(--SPAN-FONT-COLOR);
  margin-bottom: 10px;
  margin-top: 8px;
  font-size: var(--H2-FS);
}
.about-section2 p {
  color: var(--INFO-COLOR);
  /* font-size: var(--FS-RESPONSIVE-MAX-1REM); */
  /* width: 100%; */
}

.about-section2 .skills-list-cont {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
  /* background-color: rgba(77, 77, 77, 0.267); */
}
.about-section2 .skills-list-cont li {
  /* background-color: rgba(68, 68, 102, 0.171); */
  flex-grow: 1;
}
.about-section2 ul li a {
  /* margin-right: 10px; */
  color: rgb(0, 194, 162);
  display: block;
}
.about-section2 ul li a:hover {
  opacity: 0.8;
  /* filter: blur(.5px); */
  transform: translateY(-5px);
  text-decoration: underline;
}
.about-section2 ul li :is(a:active, a:focus) {
  text-decoration: underline;
  /* filter: brightness(10); */
  color: var(--SPAN-FONT-COLOR);
}
:is(.skills-list-cont:active, .skills-list-cont:focus) ~ aside {
  opacity: 0.2;
  transition: 0.1s linear;
}

aside ol li span,
aside ol li .whyicode-content,
aside .goal-content,
aside ol li p {
  color: var(--FONT-COLOR);
}
aside h4 {
  margin-bottom: 0.5rem;
  color: var(--SPAN-FONT-COLOR);
  font-size: var(--FS-RESPONSIVE-MAX-1REM);
}
aside ol li .whyicode-content {
  line-height: 1.5rem;
}
aside {
  margin: 15px 0 0 24px;
}

/* personal information styles */
.personal-info-container {
  /* background-color: rgba(255, 192, 203, 0.233); */
  margin-left: -20px;
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  row-gap: 10px;
  width: 100%;
}
.personal-info-container,
aside ol {
  animation: slideRight 1.5s ease;
}

.personal-info-container .info {
  /* background-color: rgba(76, 0, 252, 0.678); */
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.info section {
  /* background-color: rgb(0, 29, 158); */
  display: flex;
  flex-direction: column;
  flex: 1;
}

.text-head {
  font-weight: 600;
  color: var(--FONT-COLOR) !important;
}

aside ol li {
  /* font-size: var(--FS-RESPONSIVE-MAX-1REM); */
  list-style-type: disc;
  margin-top: 10px;
}

/* toggle switch */
#toggle-off {
  display: none;
}

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* Service section  */
.service,
.about,
.projects,
.contact {
  padding-bottom: 150px;
}
.service {
  display: flex;
  /* row-gap: 1rem; */
  place-content: flex-start;
  flex-direction: column;
  /* background-color: rgba(0, 0, 0, 0.281); */
}
.service h2,
.tip,
.projects h2,
.contact h2 {
  text-align: center;
  margin-bottom: 0;
}

.dev-icon {
  color: #33d8a7;
  font-weight: 900;
}
.dev-icon::before {
  content: "</";
}
.dev-icon::after {
  content: ">";
}
.dev-icon::after,
.dev-icon::before {
  font-size: 40px;
}

.service article section h4 {
  margin-bottom: 15px;
}

/* cards styles */
.service article section,
.projects article section {
  background-image: var(--service-card-bg-img);
  background-color: var(--service-card-bg);
  color: var(--header-font-color);
}

.service article section {
  border: none;
  border-radius: 1.5rem;
  flex-direction: column;
  padding: 1rem;
  /* font-size: 1.3rem; */
  position: relative;
  transition: 0.25s;
  /* background-color: red; */
}

.projects article section:hover,
.service article section:hover {
  box-shadow: 0px 5px 15px var(--SPAN-FONT-COLOR);
}
.read-more {
  position: absolute;
  bottom: 20px;
  border-color: var(--BUTTON-BORDER-COLOR);
}
.service article section svg,
.dev-icon {
  position: absolute;
  top: 20px;
  left: 40%;
}
.dev-icon {
  top: 30px;
}

/* shared sytles of service and project article */
.service article,
.projects article {
  gap: 2rem;
  flex-wrap: wrap;
  padding: 1rem;
}
/* shared sytles of service and project article section */
.service article section,
.projects article section {
  width: min(300px, 400px);
  height: 400px;
}

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.projects article section {
  width: min(300px, 400px);
  border: none;
  border-radius: 1.5rem;
  flex-direction: column;
  padding: 1rem;
  /* font-size: 1.3rem; */
  transition: 0.25s;
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* contact */
.contact h2 {
  margin: 1rem 0;
  color: var(--FONT-COLOR);
}
.contact form {
  flex-direction: column;
}
.contact form input,
.contact form textarea {
  width: 50%;
  display: block;
  background-color: transparent;
  outline: none;
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 12px 8px;
  margin-bottom: 1rem;
  color: var(--INPUTS-FONT-COLOR);
  font-family: inherit;
}
.contact button {
  padding: 12px 1rem;
  border: 1px solid var(--BUTTON-BORDER-COLOR);
  border-radius: 8px;
  background-color: transparent;
  font-family: inherit;
  color: var(--FONT-COLOR);
  transition: all 0.25s linear;
}
.contact button:hover {
  background-color: var(--BUTTON-HOVER-COLOR);
  transform: translateY(-5px);
}
.contact :is(button:active, button:focus) {
  background-color: var(--BUTTON-ACTIVE-COLOR);
}

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* footer */
footer {
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.03),
    rgba(180, 102, 0, 0.274)
  );
  height: 100px;
  /* margin-top: 2rem; */
}
footer .toggle-and-btt-cont {
  position: fixed;
  right: 10px;
  bottom: 10px;
}
.back-to-top {
  background-color: var(--SPAN-FONT-COLOR);
  padding: 0.5rem;
  font-size: 2rem;
  text-decoration: none;
  color: var(--FF);
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
footer article .social-cont {
  width: 400px;
}
footer :is(.tw-svg, .fb-svg) {
  fill: #444;
  border-radius: 50%;
  margin-right: 20px;
  width: 40px;
  transition: all 0.5s;
}
footer abbr {
  text-decoration: none;
}
footer :is(.tw-svg:hover, .fb-svg:hover) {
  transform: translateY(-5px);
  border: 2px solid var(--SPAN-FONT-COLOR);
}
footer p {
  text-align: center;
  margin-top: 1rem;
}

/* @keyframes asideanimation {
    from{
        opacity: 0;
        background-color: rgba(0, 110, 105, 0.274);
    }
    to{
        opacity: 1;
    }
} */

/* Animations*/
@keyframes bounce {
  0%,
  30%,
  60%,
  90% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-15px);
  }
  45% {
    transform: translateY(-10px);
  }
  55% {
    transform: translateY(-8px);
  }
  90% {
    transform: translateY(-4px);
  }
}

/* mobiles */
@media screen and (max-width: 575px) {
  header {
    justify-content: space-between;
  }
  header .menu-button {
    display: block;
  }
  header .navbar {
    background-color: rgb(10, 19, 21);
    position: absolute;
    right: 0;
    height: 100vh;
    top: 0;
    box-shadow: -2px 0px 10px rgb(0, 0, 0);
    display: none;
  }
  /* show the navbar when the menubutton is hovered */
  :is(
      .menu-button:hover,
      .menu-button:focus-within,
      header:hover,
      header:focus-within
    )
    .navbar {
    display: block;
  }

  header .navbar ul {
    flex-direction: column;
    margin-top: 50px;
    text-align: right;
    align-self: flex-start;
    margin-right: 25px;
  }
  header .navbar ul li {
    border-bottom: 1px solid #333;
    display: flex;
    place-content: center center;
  }
  header .navbar ul li:last-child {
    border: none;
  }
  header .navbar ul li a {
    display: block;
    width: 100%;
    padding: 25px 5px;
    font-size: 1rem;
  }
  header .navbar ul li a:active {
    transform: scale(1.1, 1.8);
  }
  :is(header .navbar ul li a:active) ~ .navbar {
    display: none;
  }
  .home,
  .about {
    flex-direction: column;
  }
  .home {
    padding: 0 8px 8px;
    justify-content: flex-start;
    margin-bottom: 2rem;
  }
  .home section {
    /* background-color: blue; */
    width: 100%;
    padding: var(--PADDING);
    padding-top: 50px;
  }
  .home section:last-child {
    order: -1;
  }
  .section2 figure {
    margin-top: 50px;
    width: min(300px, 44vw);
  }
  .about .about-section2 {
    width: 100%;
  }
  .about-section2 .skills-list-cont {
    flex-wrap: wrap;
    row-gap: 1.2rem;
  }
  /* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
  /* service */
  /* .service article section {
    background-image: linear-gradient(
      to bottom,
      rgba(253, 207, 155, 0.267),
      rgb(49, 49, 49)
    );
  } */
  /* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
}

/* tablets and ipad */
@media screen and (max-width: 768px) {
  header {
    left: 0;
    right: 0;
  }
  .name {
    font-size: clamp(1.5rem, 7vw, 3rem);
  }
  .about {
    flex-direction: column;
  }
  .about .about-section1 {
    margin: 0 1rem;
    height: 380px;
    width: 300px;
  }
  .about-section2 {
    margin-top: 50px;
  }
  .about .about-section2 div {
    text-align: center;
  }
  .contact form input,
  .contact form textarea {
    width: 85%;
  }
}

@media screen and (max-width: 274px) {
  .service article section,
  .projects article section {
    min-height: 500px;
  }
}

@keyframes showNavbar {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-15px);
    /* filter: blur(2px); */
  }
  to {
    transform: translateX(0);
  }
}
